<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Index Page</h1>
    <% let name = null%>
    <% if (currentUser) {%>
      <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Log Out">
      </form>
      <% name = currentUser.displayName%>
    <%} else { %>
      <a href="/sessions/new">Log In</a>
      <a href="/users/new">Register</a><br/>
    <%}%>
    <a href="/posts/new">Create New Post</a>
    <ul>
      <% for (let i = 0; i < posts.length; i++) {%>
        <li>
          <a href="/posts/<%=posts[i].id%>"><%=posts[i].title%></a>
          <% if (name == posts[i].author) {%>
            <form action="/posts/<%=posts[i].id%>?_method=DELETE" method="POST">
              <input type="submit" value="Delete">
            </form>
          <%}%>
        </li>
      <%}%>
    </ul>
  </body>
</html>
