<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>edit existing post</h1>
    <form class="" action="/posts/<%=post.id%>?_method=PUT" method="POST">
      <input type="text" name="title" value="<%=post.title%>"><br/>
      <input type="textfield" name="text" value="<%=post.text%>"><br/>
      <input type="text" name="image" value="<%=post.image%>"><br/>
      <input type="submit" value="Confirm Edit">
    </form>
  </body>
</html>
